<% if (theme.meta.copyright.enable && page.copyright !== false) { %>
    <div class="post__license">
        <p><strong><%= __('post.copyright.author') %></strong><%= page.author || theme.meta.author.name %></p>
        <p><strong><%= __('post.copyright.permalink') %></strong><a href="<%= page.origin || page.permalink %>"><%= page.origin || page.permalink %></a></p>
        <% (theme.meta.copyright.custom_text || []).forEach((text) => { %>
            <strong><%- markdown(text) %></strong>
        <% }); %>
    </div>
<% } %>